.container

  %h1 Your Blogs

  = link_to 'New Blog', new_blog_path

  %br
  %br

  %table.table
    %tr
      %th Name
      %th Controls
    - @blogs.each do |blog|
      %tr
        %td= blog.name
        %td
          %ul.nav.nav-pills
            %li= link_to 'Show', blog
            %li= link_to 'Edit', edit_blog_path(blog)
            %li= link_to 'Destroy', blog, :method => :delete, :data => { :confirm => 'Are you sure?' }


